[submodule "src/submodules/blockcore"]
	path = src/submodules/blockcore
	url = https://github.com/block-core/blockcore.git
[submodule "src/submodules/xds-sdk"]
	path = src/submodules/xds-sdk
	url = https://github.com/xds-messaging/xds-sdk.git
